<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.memoserver3.memo.MemoMapper">
    <insert id="post">
        INSERT INTO memo
        SET title = #{title},
            content = #{content},
            ip = #{ip}
    </insert>

    <update id="put">
        UPDATE memo
        SET title = #{title},
            content = #{content}
        WHERE id = #{memoId}
    </update>
</mapper>